@use "@wordpress/base-styles/colors";
@use "@wordpress/base-styles/variables";
@use "@wordpress/base-styles/mixins";
@use "@wordpress/base-styles/breakpoints";
@use "@wordpress/base-styles/animations";
@use "@wordpress/base-styles/z-index";

// Import common styles
@use '../common/assets/common.scss';